
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--prime: rgba(245, 239, 230, 1);
--dark-charcoal: rgba(42, 42, 42, 1);
--accent-1: rgba(200, 169, 126, 1);
--accent-2: rgba(139, 168, 136, 1);
--prime-2: rgba(255, 244, 212, 1);
--black: rgba(21, 21, 21, 1);
--accent-3: rgba(215, 126, 3, 1);
--accent-4: rgba(241, 186, 109, 1);
--titles-font-font-family: "Cormorant Garamond", Helvetica;
--titles-font-font-weight: 400;
--titles-font-font-size: 24px;
--titles-font-letter-spacing: 0px;
--titles-font-line-height: normal;
--titles-font-font-style: normal;
--body-fonts-font-family: "Poppins", Helvetica;
--body-fonts-font-weight: 400;
--body-fonts-font-size: 16px;
--body-fonts-letter-spacing: 0px;
--body-fonts-line-height: 139.9999976158142%;
--body-fonts-font-style: normal;
--h-1-font-family: "Cormorant Garamond", Helvetica;
--h-1-font-weight: 700;
--h-1-font-size: 72px;
--h-1-letter-spacing: 0px;
--h-1-line-height: normal;
--h-1-font-style: normal;
--variable-collection-dark: rgba(30, 30, 30, 1);
--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) ;
--smallSectionPadding: 2rem;
--font-size: 1em;
--bg1: #f5f8f7;
--shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
--shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;

}
body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
/*     overflow-x: hidden;
 */}
a{
    text-decoration: none;
}

.carousel .list .item .buttons{
    display: flex;
    gap: 2rem;
/*     margin-top: 20px;
 */}
 @media only screen and (max-width:480px){
    .carousel .list .item .buttons{
        gap: 1rem;
    }
}
.btn {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: var(--button-text);
    background-color: rgba(0, 0, 0, 0.815);
    border: 1px solid var(--button-border);
    border-radius: 50px;
    width: fit-content;
    cursor: pointer;
    transition: all 0.5s ease;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    position: relative;
    display: inline-block;
    backdrop-filter: blur(10px);
    margin-top: 2rem;
}
#unique-button{
	z-index: 11;
}
.btn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}
.btn:first-of-type {
    background-color: rgba(200, 169, 126, 1);

}
.btn:active {
    transform: translateY(1px);
}

.shine {
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;

}

.btn:hover .shine {
    opacity: 1;
    animation: shine 2s ease-in-out infinite;
}

@keyframes shine {
    0% {
        transform: translateX(-100%) rotate(45deg);
    }
    100% {
        transform: translateX(100%) rotate(45deg);
    }
}

.text-shine {
    display: inline-block;
    position: relative;
    background: linear-gradient(90deg, #fff, #fff, #888, #fff, #fff);
    background-size: 500% 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textShine 6s linear infinite;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0.25rem;
    
}

@keyframes textShine {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}

@media (max-width: 480px) {
    .text-shine {
        font-size: 20px;
    }
}

.carousel > .list > .item > img {
  
  filter: brightness(50%); /* Darkens the image */
  backdrop-filter: brightness(50%); /* Applies the darkening effect */
}
.des {

    font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: var(--prime);
    font-size: 16px;
    line-height: 140%;
    word-wrap: wrap;
}
/* carousel */
.carousel{
    height: 100vh;
/*     margin-top: -50px;
 */    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: var(--prime);
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 5em;
    font-weight: bold;
    line-height: 120%;
}
.carousel .list .item .topic{
    color: var(--accent-1);
    margin-bottom: 2rem;
}
 
/*.carousel .list .item .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
} */
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    backdrop-filter: blur(10px);
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: var(--accent-1);
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}