@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--prime: rgba(245, 239, 230, 1);
--dark-charcoal: rgba(42, 42, 42, 1);
--accent-1: rgba(200, 169, 126, 1);
--accent-2: rgba(139, 168, 136, 1);
--prime-2: rgba(255, 244, 212, 1);
--black: rgba(21, 21, 21, 1);
--accent-3: rgba(215, 126, 3, 1);
--accent-4: rgba(241, 186, 109, 1);
--titles-font-font-family: "Cormorant Garamond", Helvetica;
--titles-font-font-weight: 400;
--titles-font-font-size: 24px;
--titles-font-letter-spacing: 0px;
--titles-font-line-height: normal;
--titles-font-font-style: normal;
--body-fonts-font-family: "Poppins", Helvetica;
--body-fonts-font-weight: 400;
--body-fonts-font-size: 16px;
--body-fonts-letter-spacing: 0px;
--body-fonts-line-height: 139.9999976158142%;
--body-fonts-font-style: normal;
--h-1-font-family: "Cormorant Garamond", Helvetica;
--h-1-font-weight: 700;
--h-1-font-size: 72px;
--h-1-letter-spacing: 0px;
--h-1-line-height: normal;
--h-1-font-style: normal;
--variable-collection-dark: rgba(30, 30, 30, 1);
--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) ;
--smallSectionPadding: 2rem;
--font-size: 1em;
--bg1: #f5f8f7;
--shadow1: 0 2px 4px #00000026, 0 3px 6px #0000001f;
--shadow2: 0 2px 6px #00000044, 0 4px 7px #00000022;

}
body{
    background-color: var(--black);
	color: var(--prime);
  margin: 0%;
} 

 @media only screen and (min-width: 0rem) {
  header {
    position: sticky;
    top: -1px;
    background-color: var(--black);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    padding-bottom: 1rem;
    border-radius: 0 0 15px 15px;
    z-index: 10;
  }
  #main-header {
    
    transition: background-color 0.3s ease;
  }
  
  #main-header.transparent {
    background-color: transparent;
    backdrop-filter: blur(10px);
  }
  
  #main-header.solid {
    background-color: var(--black); /* Replace with your desired color */
  }
  #intro {
    display: flex;
    flex-direction: column;
  }
  
  #intro > .content {
    align-items: center;
  }
  .timeline-cta span .referal{
    color: var(--accent-1);
    font-size: 18px;
    font-weight: 500;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.button-two {
  --button-color: var(--accent-1);
   display: none;
 }

.button-two[data-state="closed"] .top,
.button-two[data-state="closed"] .bottom {
  animation: to-open-icon 1s forwards;
}

.button-two[data-state="opened"] .top,
.button-two[data-state="opened"] .bottom {
  animation: to-close-icon 1s forwards;
}

.button-two .hamburger {
  transition: rotate 800ms 100ms;
}

.button-two[data-state="opened"] .hamburger {
  rotate: 1turn;
}

.button-two .line.top {
  --rotation: -45deg;
  transform-origin: 65px 45px;
}

.button-two .line.bottom {
  --rotation: 45deg;
  transform-origin: 60px 55px;
}

@keyframes to-close-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 79.9;
  }
  60% {
    stroke-dashoffset: 79.9;
    rotate: calc(var(--rotation));
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}

@keyframes to-open-icon {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  60% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
/* 
} */
@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: var(--black);
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
          z-index: 10;
  }

  .nav-menu.active {
      left: 0;
	  top: 0;
	  padding-top: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger, .button-two {
      display: block;
      cursor: pointer;
      background-color: transparent;
      border: none;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    min-width: 50%;
    padding: 0;
}
.navbar {
 
  z-index: 10;
}
nav ul li {
    color: var(--prime);
    font-family: "Poppins";
    font-size: 16px;
    
  }

.nav-contact{
    margin-left: 0;
}
nav a {
    text-decoration: none;
    color: var(--prime);
    display: flex;

}
nav ul>li>a.active {
    color: var(--accent-1);
}
                             
nav a span:nth-of-type(1){
    font-family: var(--titles-font-font-family);
    font-size: 48px;
    color: var(--accent-1);
    font-weight: 700;

}
nav a span:nth-of-type(2){
    font-size: 48px;
    font-family: "Cormorant Garamond";
    font-weight: 500;
}

nav ul li a {
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--accent-1);
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: var(--accent-1);
}

nav ul li a:hover::after {
    width: 100%;
}

.logo  {
    transition: opacity 1s ease, size 1s ease-in;
	z-index: 11;
}

.logo:hover {
    opacity: 0.8;
    transform: scale(1.02);
}

/* hero */
.title-container1 {
	display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-direction: row;
/* 	  flex-wrap: nowrap;
 */	gap: 3%;
	}
.hero-text svg:first-child{
	display: none;
}	
.hero-img {
	height: 64px;
	width: 100%;

}
.hero-img img {
	object-fit: cover;
	height: 64px;
	border-radius: 64px;
	width: 100%;
}
.hero-img-container {
	display: none;
}
.hero-para {
	font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: var(--prime);
    font-size: 16px;
    line-height: 140%;
    word-wrap: wrap;
	text-align: center;
}

.btn {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: var(--button-text);
    background-color: var(--button-bg);
    border: 1px solid var(--button-border);
    border-radius: 50px;
    width: fit-content;
    cursor: pointer;
    transition: all 0.5s ease;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    position: relative;
    display: inline-block;
}
#unique-button{
	z-index: 11;
}
.btn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(1px);
}

.shine {
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.btn:hover .shine {
    opacity: 1;
    animation: shine 2s ease-in-out infinite;
}

@keyframes shine {
    0% {
        transform: translateX(-100%) rotate(45deg);
    }
    100% {
        transform: translateX(100%) rotate(45deg);
    }
}

.text-shine {
    display: inline-block;
    position: relative;
    background: linear-gradient(90deg, #fff, #fff, #888, #fff, #fff);
    background-size: 500% 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textShine 6s linear infinite;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes textShine {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}

@media (max-width: 480px) {
    .text-shine {
        font-size: 20px;
    }
}
@media (hover :none) {
/* 	.btn .shine{
		opacity: 1;
    animation: shine 1s ease-in-out 3s infinite ;
	animation-delay: ;
 */
/* } something to mess with later on */
}
.sub-container, .hero-container, .hero-sub-container {
	display: flex;
	flex-direction: column;
}
.sub-container{
	align-items: center;
	row-gap: 1.5rem;
}
.hero-container{
row-gap: 1.5rem;
}
.hero-sub-container{
row-gap: 0.75rem;
}
#hero {
	padding-block: var(--sectionPadding);
}

#services {
  display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: space-around;
    align-items: flex-start;
    row-gap: 1rem;
    
} 
#services p {
  margin-bottom: 1rem;
}
.image-container > img {
  width: 100%;
  object-fit: contain;
  
}
.image-container {
  width: 100%;
}
.service-item {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#services h2, #folio h2,  .cs-topper {
color: var(--accent-1);
font-size: 36px;
font-family: "Raleway";
font-weight: 700;
}
p, a, h3, h2, .cs-title {
  color: var(--prime);
  text-decoration: none;
  margin: 0;
}

p, a{
  font-family: "Poppins";

}
h3 ,.cs-title{
  font-family: "Raleway";
  font-size: 24px;
}
.learn-more {
  transition: transform 0.4s ease;
  font-size: 14px;
  font-weight: 500;
}
.learn-more:hover {
  transform: scale(1.051);
  
}
.cta-big {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row ;
  
  
}
.cta-text{
  color: var(--accent-1);
font-size: 6vw;
font-family: "Raleway";
font-weight: 800;
text-wrap: nowrap;
text-decoration: none;
}
.cta-img {
  width: 100%;

}
.cta-img img {
border-radius: 25px;
width: 100%;
object-fit: cover ;
height: 15vh;
}
#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fa-arrow-right{
  rotate: -45deg;
  }
  #folio {
display: flex;
flex-direction: column;
color: var(--prime);
}
 .swiper {
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;
}
.swiper img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}
.content {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  row-gap: 1rem;

}
.see-more-large {
  display: none;
}
.see-more-small {
  
  align-self: center;
  padding-inline: 4rem;
}
#cs-contact-490 .cs-container {
  /* changes to 1280px at desktop */
  max-width: 34.375rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}
#cs-contact-490 .cs-content {
  max-width: 32.625rem;
  text-align: left;
}
#cs-contact-490 .cs-text {
  /* 16px - 48px */
  margin: 0 0 clamp(1rem, 4.4vw, 3rem) 0;
}
#cs-contact-490 .cs-header {
  /* 13px - 16px */
  font-size: clamp(0.8125rem, 1.5vw, 1rem);
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: "Poppins";
  margin: 0 0 1rem 0;
  color: var(--accent-1);
  display: block;
}
#cs-contact-490 .cs-link {
  /* 16px - 20px */
  font-size: clamp(1rem, 2vw, 1.25rem);
  text-decoration: none;
  line-height: 1.5em;
  font-weight: 500;
  /* 16px - 32px */
  margin: 0 0 clamp(1rem, 2.5vw, 2rem);
  color: var(--prime);
  display: block;
}
#cs-contact-490 .cs-link:hover {
  text-decoration: underline;
}
#cs-contact-490 .cs-link:last-of-type {
  margin-bottom: 0;
}
#cs-contact-490 .cs-social {
  /* 32px - 80px */
  margin-top: clamp(2rem, 6vw, 5rem);
  display: inline-flex;
  justify-content: flex-start;
  gap: 0.75em;
}
#cs-contact-490 .cs-social-link {
  /* 32px - 52px */
  width: clamp(2rem, 4vw, 3.25rem);
  height: clamp(2rem, 4vw, 3.25rem);
  background-color: var(--black);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid var(--prime);
  z-index: 1;
  transition: transform 0.3s, background-color 0.3s;
}
#cs-contact-490 .cs-social-link:hover {
  background-color: var(--accent-1);
  transform: translateY(-0.1875rem);
}
#cs-contact-490 .cs-social-img {
  /* 14px - 24px */
  height: clamp(0.875rem, 2vw, 1.5rem);
  width: auto;
  display: block;
}
#cs-contact-490 #cs-form-490 {
  width: 100%;
  max-width: 40.625rem;
  /* 32px - 40px */
  margin-bottom: clamp(2rem, 5.3vw, 2.5rem);
  /* 20px - 40px */
  padding: clamp(1.25rem, 4.5vw, 2.5rem);
  /* prevents padding from affecting width and height */
  box-sizing: border-box;
  border: 1px solid var(--prime);
  border-radius: 1rem;
}
#cs-contact-490 .cs-label {
  /* 14px - 16px */
  font-size: clamp(0.875rem, 1.3vw, 1rem);
  line-height: 1.5em;
  font-weight: 400;
  /* 16px - 20px */
  margin-bottom: clamp(1rem, 1em, 1.25rem);
  color: var(--prime);
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#cs-contact-490 .cs-label-message {
  /* 32px - 40px */
  margin-bottom: clamp(2rem, 4.5vw, 2.5rem);
}
#cs-contact-490 .cs-input,
#cs-contact-490 textarea {
  font-size: 1rem;
  width: 100%;
  height: 4rem;
  margin-top: 0.25rem;
  padding-left: 1.25rem;
  /* set transparent border so on hover border doesn't make it glitch */
  border: 1px solid transparent;
  border-bottom: 1px solid #b4b2c7;
  /* prevents border & padding from affecting height */
  box-sizing: border-box;
  transition: border 0.3s;
  color: var(--prime);
  background-color: #0000001e;
}
#cs-contact-490 .cs-input:hover,
#cs-contact-490 textarea:hover {
  border: 1px solid var(--gray);
}
#cs-contact-490 .cs-input::placeholder,
#cs-contact-490 textarea::placeholder {
  color: #6969699a;
}
#cs-contact-490 textarea {
  font-family: inherit;
  margin: 0;
  padding-top: 1.25rem;
  min-height: 7.5rem;
}
#cs-contact-490 .cs-button-solid {
  font-size: 1rem;
  /* 46px - 56px */
  line-height: clamp(2.875em, 5.5vw, 3.5em);
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  margin: auto;
  width: 100%;
  color: var(--prime);
  padding: 0 1.5rem;
  background-color: var(--primary);
  border: none;
  border-radius: 5rem;
  display: inline-block;
  position: relative;
  z-index: 1;
  border:  solid 1px #ffffff59;

  /* prevents padding from adding to the width */
  box-sizing: border-box;
}
#cs-contact-490 .cs-button-solid:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background: var(--accent-1);
  opacity: 1;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5rem;
  transition: width 0.3s;


}
#cs-contact-490 .cs-button-solid:hover {
  cursor: pointer;
}
#cs-contact-490 .cs-button-solid:hover:before {
  width: 100%;
}
.cs-title {
  margin-block: 1rem;
}
section {
  padding-block: var(--smallSectionPadding);
  padding-inline: 0.5rem;

}

#cs-footer-108 {
  /* 40px - 100px top and bottom */
  padding: clamp(2.5rem, 7.9vw, 6.25rem) 1rem;
  /* 40px - 50px */
  padding-bottom: clamp(2.5rem, 7.9vw, 3.125rem);
}
#cs-footer-108 .cs-container {
  width: 100%;
  max-width: 80rem;
  margin: auto;
}
#cs-footer-108 .cs-ul {
  /* 40px - 60px*/
  padding: 0 0 clamp(2.5rem, 4.7vw, 3.75rem);
  margin: auto;
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
  border-bottom: 1px solid var(--prime);
}
#cs-footer-108 .cs-li {
  list-style: none;
  text-align: center;
  margin-bottom: 1.25rem;
}
#cs-footer-108 .cs-li:last-of-type {
  margin-bottom: 0;
}
#cs-footer-108 .cs-link {
  /* 16px - 20px */
  font-size: clamp(1rem, 1.55vw, 1.25rem);
  line-height: 1.5em;
  text-decoration: none;
  font-weight: 400;
  color: var(--prime);
  font-family: "Poppins";
  position: relative;
}
#cs-footer-108 .cs-link:hover:before {
  width: 100%;
}

#cs-footer-108 .cs-link:before {
  /* top right box */
  content: "";
  width: 0%;
  height: 0.1875rem;
  background: var(--bodyTextColor);
  opacity: 1;
  position: absolute;
  display: block;
  bottom: -0.125rem;
  left: 0;
  transition: width 0.3s;
}
#cs-footer-108 .cs-copyright {
  /* 14px - 16px */
  font-size: clamp(0.875rem, 1.6vw, 1rem);
  text-align: center;
  color: #929292;
  display: block;
  /* 20px - 28px */
  margin: clamp(1.25rem, 2.8vw, 1.75rem) auto 0;
}
}
/* tablet */
@media only screen and (min-width: 37.5rem) {
  #timeline-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timeline-cta span .referal{
    font-size: 20px;
    font-weight: 500;
  }
  .timeline-cta{
    text-align: center;
  }
  #intro {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: flex-start;
  }
  #intro h1 {
    padding: 0;
  }
  #intro > .content{
    max-width: 45%;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    height: 100%;

    }
  #intro  .see-more-small {
    display: none;
  }
  #intro .see-more-large {
    display: block;
    padding-inline: 4rem;
    font-size: 18px;
 }
 #intro .see-more-large .text-shine {
  margin-top: 0.25rem;
 }
 header{
  margin-inline: 0;
  padding-inline: var(--sectionPadding);
  padding-block: 1.5rem;

 }
  section {
    margin-inline: 4rem;
    padding-bottom: var(--sectionPadding);
  }
  .cta-text {
    font-size: 4.5vw;
  }
  #cs-contact-490 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #cs-contact-490 .cs-content {
    width: 40%;
    /* pushes it to the right */
    order: 2;
    flex: none;
  }
  #cs-contact-490 #cs-form-490 {
    margin: 0;
  }
  #services {
    display: grid;
  grid-template-columns: auto 10% auto;
  grid-template-rows: auto;
  grid-template-areas: "title title title" "para para para" "item1 item1 item1" "item2 gap item3" ;align-items: start;
/*padding: var(--sectionPadding); */
  }
  .gap {
    grid-area: gap;
  }
  .service-title {
    grid-area: title;
  }   
  .service-para {
    grid-area: para;
  }
  .grid-item-1 {
    grid-area: item1 ;
  }
  .grid-item-2 {
    grid-area: item2;
  }
  .grid-item-3 {
    grid-area: item3;
  }
 /*  .grid-item-1 > .image-container > img {
    padding-right: 5rem;
  }
 */
  html, body {
    margin: 0%;
    padding: 0%;
    overflow-x: clip;
  }
}

  /* Desktop styles */

@media only screen and (min-width: 64rem) {
 
  #hero {
    display: grid;
    grid-template-columns: auto 10% 40% ;
    grid-template-rows: auto ;
    align-items: start;
    grid-template-areas: "container hero-gap img";
    padding: var(--sectionPadding);
    margin-top: 4rem;
    }
    .hero-gap {
      grid-area: hero-gap;
      background-color: #fff;
      
    }
    .container {
      grid-area: container;
    }   
    .hero-img-container {
    grid-area: img;
    display: block;
    width: 100%;
    height: 35dvh;
    }
    .hero-img-container img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 35dvh;
    }
    .hero-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }
    .sub-container{
      align-items: flex-start ;
    }
    .hero-para {
      text-align: start;
    }
    #services {
      display: grid;
      grid-template-columns: 45% 5% 25% 5% auto ;
      grid-template-rows: auto ;
      grid-template-areas: "title gap2 para para para " "item1 gap2 item2 gap item3";
      align-items: start;
      overflow-x: clip;
      padding: var(--sectionPadding);
    }
    .gap2{
      grid-area: gap2;
    }
    #services a {
      font-weight: 300;
    }
    .service-title {
      grid-area: title;
    }   
    .service-para {
      grid-area: para;
    }
    .grid-item-1 {
      grid-area: item1 ;
    }
    .grid-item-2 {
      grid-area: item2;
    }
    .grid-item-3 {
      grid-area: item3;
    }
/*     .grid-item-1 > .image-container > img {
    } */
    #folio {
      flex-direction: row;
      gap: 10%;
    }
    .content {
      display: flex;
      flex-direction: column;
      
      margin-bottom: 0;
    }
    .content > * {
      margin-bottom: 1.5rem;
    }
    .content > *:last-child {
      margin-bottom: 0;
    }
    .swiper {
      margin-bottom: 0%;
    }
    .see-more-small{
      display: none;
    }
    .see-more-large{
      display: block;
    }
    .timeline-cta{
      max-width: 50%;
      text-align: center;
    }
}
@media only screen and (min-width: 65rem){
  .hero-img-container img{
    min-height: 60dvh;
    max-height: 100vh;
    }
  .hero-img-container{
    min-height: 60dvh;
    max-height: 100vh;
  }
  #cta, #folio, #cs-contact-490, #cs-footer-108 {
    padding-top: 0;
    
  }
  #services {
    display: grid;
    grid-template-columns: 50% 5% 25% 2% auto ;
    padding-top: 0%;
  }
  .cta-img img {
    height: 30vh;
  }
  #hero {
    display: grid;
    grid-template-columns: auto 10% 30% ;
    padding-top: 0;

    }
  header, #cta, #folio, #cs-contact-490{
    padding-inline: var(--sectionPadding);
  }
  .hero-text svg:last-child {
    display: none;
  }
  .hero-text svg:first-child {
    display: revert;
  }
  .hero-img , .hero-img img {
    height: 72px;
  }
  .sub-container{
    row-gap: 3rem;
  }
  .hero-para {
    line-height: 1.75rem;
    font-size: 18px;
    max-width: 40rem;
  }
  p {
    font-size: 18px;
  }
  .learn-more {
    font-size: 16px;
  }
  .btn {
    padding: 1rem 3rem;
    font-size: 1.5rem;
  }
  .hero-sub-container {
    row-gap: 2rem;
  }
}
 
  #why-us > div > h1,.testimonials > h1, #timeline > h1, #benefits > .benefits-container > h1, .header-content h1, #intro > .content > h1,.benefits-container h1, #timeline-section > h1, .stat-title , #credentials > h1{
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: var(--accent-1);
  margin: 0;
  padding-block: 0.5rem;
} 
.testimonials > h1 {
  color: var(--accent-1);
}


#why-us > div > h1:first-of-type {
  color: var(--accent-1);
} 
#why-us > div > h1:last-of-type {
  background-color: var(--accent-1);
  width: 100%;
  color: var(--black);
  margin-bottom: 2rem;
} 
#why-us > div:first-of-type{
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.wu-para-container > p {
  font-size: 16px;
  margin-bottom: 1rem;
}
.wu-para-container {
  margin-bottom: 1rem;
}
.about-img{
  width: 100%;
  
}
.about-img img{
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

#timeline-section > h1 {
 
  color: var(--accent-1);
}
/* dont include this in min-width:0 */


.timeline-section{
	background-color: var(--black);
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: var(--dark-charcoal);
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: var(--accent-1);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: var(--accent-1);
	margin:6px 0 15px;
}
.timeline-content{
    background-color: var(--black);
	padding: 30px;
	border-radius: 5px;
  box-shadow: 
    -8px -8px 16px rgba(60, 60, 60, 0.3),  /* Light shadow (top-left) */
    8px 8px 16px rgba(0, 0, 0, 0.5);      /* Dark shadow (bottom-right) */
}
.timeline-content h3{
    font-size: 20px;
	color: var(--prime);
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
  font-family: "Poppins";
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
  font-family: "Poppins";

	line-height: 22px;
}
/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}

.client-benefits {

  color: var(--prime);
}

.benefits-container {
  max-width: 1100px;
  margin: 0 auto;
  gap: clamp(3rem, 6vw, 4rem);
  display: flex;
  flex-direction: column;
}

#benefits > .benefits-container > h1 {
  margin-bottom: 1.5rem;
  color: var(--accent-1);
  text-align: left;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.benefit-card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 1.5rem;
  transition: transform 0.3s ease;
}

.benefit-card:hover {
  transform: translateY(-5px);
}

.icon-container {
  color: #c9a55a;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#benefits h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: var(--prime);
} 

#benefits p {
  color: #a0a0a0;
  line-height: 1.6;
}

@media (max-width: 600px) {
  .benefits-grid {
    grid-template-columns: 1fr;
  }
}


/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1229 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
  }
  #stats-1229:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light3.svg");
      background-position: center;
      background-size: auto;
      background-repeat: repeat;
      opacity: 0.3;
      top: 0;
      left: 0;
      z-index: -1;
  }
  #stats-1229 .cs-container {
      /* changes to 1280px at desktop */
      max-width: 36.5rem;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }


  #stats-1229 .cs-title {
      max-width: 20ch;
  }
  #stats-1229 .cs-stat-group {
      width: 100%;
      margin: auto;
      padding: 0;
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(6, 1fr);
  }
  #stats-1229 .cs-stat {
      list-style: none;
      margin: 0;
      /* 16px - 40px */
      padding: clamp(1rem, 3vw, 2.5rem) 1rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      grid-column: span 2;
      /* border code */
      /* remove the border on the far-right elements */
      /* makes the last two items span across multiple columns. changes at desktop to one line */
  }
  #stats-1229 .cs-stat:before {
      content: "";
      width: 2px;
      height: 100%;
      background: linear-gradient(
          0deg,
          rgba(72, 72, 72, 0) 0%,
          #484848 50%,
          rgba(72, 72, 72, 0) 100%
      );
      position: absolute;
      top: 0;
      right: 0;
  }
  #stats-1229 .cs-stat:nth-of-type(3):before,
  #stats-1229 .cs-stat:nth-of-type(5):before {
      content: none;
  }
  #stats-1229 .cs-stat:nth-of-type(4),
  #stats-1229 .cs-stat:nth-of-type(5) {
      grid-column: span 3;
  }
  #stats-1229 .cs-desc {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: center;
      /* keeps the width of the stat description from overflowing onto the border */
      /* 88px - 176px */
      width: clamp(5.5rem, 20vw, 11rem);
      margin-bottom: 0.5rem;
      color: #858585;
      display: block;
  }
  #stats-1229 .cs-number {
      /* 25px - 49px */
      font-size: clamp(1.5625rem, 3vw, 3.0625rem);
      line-height: 1.2em;
      font-weight: 900;
      margin: 0;
      color: var(--headerColor);
      display: block;
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #stats-1229 .cs-container {
      flex-direction: row;
      flex-wrap: wrap;
  }
  /* header {
    padding-bottom: 0%;
  } */
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  
  #stats-1229 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  #stats-1229 .cs-title,
  #stats-1229 .cs-text {
      max-width: none;
  }
 
  #stats-1229 .cs-stat-group {
      max-width: 80rem;
      grid-template-columns: repeat(5, 1fr);
  }
  #stats-1229 .cs-stat {
      grid-column: span 1;
  }
  #stats-1229 .cs-stat:nth-of-type(4),
  #stats-1229 .cs-stat:nth-of-type(5) {
      grid-column: span 1;
  }
  #stats-1229 .cs-stat:nth-of-type(3):before {
      content: "";
  }

#why-us {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.about-img{
  min-width: 30vw;
  min-height: 50vh;
}
.about-img img{
  width: 100%;
  min-height: 50vh;
  object-fit: cover;
  border-radius: 10px;
}
.wu-para-container {
  display: flex;
  margin-inline: 2.5rem;
  gap: 6rem;
}

}
                              

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
.testimonials {
  display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 10% 0;
  flex-direction: column;
  align-items: center;
}
.review-card {
	background-color: #1a1a1a;
	border-radius: 10px;
	padding: 20px;
	width: 85%;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
.img-area {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 25px;
}
.img-area img {
	width: 100%;
  height: 100%;
}
.header-content {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}
.info {
  font-family: "Poppins";
}
.info h4 {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 600;
}
.info p {
	margin: 5px 0 0;
	font-size: 14px;
	font-weight: 300;
	color: #666;
}
.single-review p {
	margin: 0;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.7;
	color: #c8c8c8;
}
.review-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	font-size: 14px;
	
}
.review-footer > p {
  color: #666;
  font-size: 14px;
}
.rating {
	display: flex;
}
.rating span {
	color: var(--prime);
	font-size: 18px;
}
.rating span.active {
	color: #fbc02d;
}
@media only screen and (min-width: 37.5rem) {
	.wrapper {
		flex-direction: row;
/* 		align-items: center;
 */	}
	.review-card {
		width: 300px;
	}
  .timeline-section {
    display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
  }
  #why-us > div > h1, .testimonials > h1, #timeline > h1, #benefits > .benefits-container > h1 , .header-content h1,.stat-title,#credentials > h1 {
    font-family: "Raleway";
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}
}
.logo-slider {
  overflow: hidden;
  padding: 30px 0 0 0;
  white-space: nowrap;
  position: relative;
}

.logo-slider:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 45s slide infinite linear;
}

.logos-slide img {
  width: 183px;
  height: 83px;
  margin: 0 40px;
}


@keyframes slide {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-100%);
  }
}
.header-section {
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-image: url('webp images/cafe-8.webp'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  top: -16.5vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity for desired effect */
  z-index: 1;
}
.header-content {
  display: flex;
    align-items: center;
    margin-bottom: 1rem;
    z-index: 2;
    justify-content: center;
    flex-direction: column;
  height: 100%;
  translate: 0 10%;
}








.timeline__item {
  margin-bottom: 4em;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 50em) {
  .timeline__item {
    width: 45%;
  }

  .timeline__item.right {
    margin-left: auto;
  }
}

.timeline__day {
  font-family: var(--titles-font-font-family);
  font-weight: var(--titles-font-font-weight);
  font-size: var(--titles-font-font-size);
  color: var(--prime);
  text-transform: uppercase;
  padding-bottom: 0.75em;
  margin-top: 0;
}

.timeline__day span {
  font-weight: 300;
  color: var(--accent-1);
  text-transform: none;
}

.timeline__day-sum {
  color: var(--prime);
  font-weight: 300;
  font-size: var(--font-size);
  display: block;
  margin-bottom: 1.5em;
  line-height: 1.5;
}

ul {
    list-style: none;
    padding-inline: 0;
}
.header-content h1 {
  color: var(--accent-1);
  padding: 0;  
  margin-top: 0;
}
.header-content p{
  margin-block: 1rem;
}
.header-content .btn {
  margin-top: 0.5rem;
  background-color: #0000001e;
  backdrop-filter: blur(10px);
} 
.header-content .btn .text-shine {
  margin-top: 0.25rem;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
@media (max-width: 768px) {
  .whatsapp i {
      font-size: 40px; /* Adjust size for tablets */
  }
}

/* Even smaller size for phones */
@media (max-width: 480px) {
  .whatsapp {
      bottom: 15px;
      right: 15px;
  }

  .whatsapp i {
      font-size: 35px; /* Adjust size for phones */
  }
}.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
#credentials  {
  gap: clamp(3rem, 6vw, 4rem);
  display: flex;
  flex-direction: column;  
}
.titleTop path:nth-child(1) {
  stroke-dasharray: 196.51393127441406px;
  stroke-dashoffset: 196.51393127441406px;
  animation: line-anim 3s ease forwards 0.2s;
}

.titleTop path:nth-child(2) {
  stroke-dasharray: 240.00784301757812px;
  stroke-dashoffset: 240.00784301757812px;
 animation: line-anim 3s ease forwards 0.4s;
}

.titleTop path:nth-child(3) {
  stroke-dasharray: 193.07174682617188px;
  stroke-dashoffset: 193.07174682617188px;
 animation: line-anim 3s ease forwards 0.6s;
}

.titleTop path:nth-child(4) {
  stroke-dasharray: 124.41590881347656px;
  stroke-dashoffset: 124.41590881347656px;
 animation: line-anim 3s ease forwards 0.8s;
}

.titleTop path:nth-child(5) {
  stroke-dasharray: 134.19041442871094px;
  stroke-dashoffset: 134.19041442871094px;
 animation: line-anim 3s ease forwards 1s;
}

.titleTop path:nth-child(6) {
  stroke-dasharray: 233.76708984375px;
  stroke-dashoffset: 233.76708984375px;
 animation: line-anim 3s ease forwards 1.2s;
}

.titleTop path:nth-child(7) {
  stroke-dasharray: 273.4111633300781px;
  stroke-dashoffset: 273.4111633300781px;
 animation: line-anim 3s ease forwards 0.8s;
}

.titleTop path:nth-child(8) {
  stroke-dasharray: 283.021240234375px;
  stroke-dashoffset: 283.021240234375px;
 animation: line-anim 3s ease forwards 0.5s;
}

.titleMid path:nth-child(1) {
  stroke-dasharray: 193.07182312011719px;
  stroke-dashoffset: 193.07182312011719px;
 animation: line-anim 3s ease forwards 0.8s;
}

.titleMid path:nth-child(2) {
  stroke-dasharray: 240.00785827636719px;
  stroke-dashoffset: 240.00785827636719px;
 animation: line-anim 3s ease forwards 1s;
}

.titleMid path:nth-child(3) {
  stroke-dasharray: 169.36837768554688px;
  stroke-dashoffset: 169.36837768554688px;
 animation: line-anim 3s ease forwards 0.4s;
}

.titleMid path:nth-child(4) {
  stroke-dasharray: 290.5540466308594px;
  stroke-dashoffset: 290.5540466308594px;
 animation: line-anim 3s ease forwards 0.4s;
}

.titleMid path:nth-child(5) {
  stroke-dasharray: 283.0214538574219px;
  stroke-dashoffset: 283.0214538574219px;
 animation: line-anim 3s ease forwards 0.6s;
}

.titleMid path:nth-child(6) {
  stroke-dasharray: 193.07296752929688px;
  stroke-dashoffset: 193.07296752929688px;
 animation: line-anim 3s ease forwards 0.4s;
}

.titleMid path:nth-child(7) {
  stroke-dasharray: 198.46894836425781px;
  stroke-dashoffset: 198.46894836425781px;
 animation: line-anim 3s ease forwards 0.2s;
}

.titleMid path:nth-child(8) {
  stroke-dasharray: 222.69836425781250px;
  stroke-dashoffset: 222.69836425781250px;
 animation: line-anim 3s ease forwards 1.2s;
}
.titleBottom path:nth-child(1) {
  stroke-dasharray: 125.23076629638672px;
  stroke-dashoffset: 125.23076629638672px;
 animation: line-anim 3s ease forwards 1.4s;
}

.titleBottom path:nth-child(2) {
  stroke-dasharray: 206.76440429687500px;
  stroke-dashoffset: 206.76440429687500px;
 animation: line-anim 3s ease forwards 0.8s;
}

.titleBottom path:nth-child(3) {
  stroke-dasharray: 240.00779724121094px;
  stroke-dashoffset: 240.00779724121094px;
 animation: line-anim 3s ease forwards 0.6s;
}

.titleBottom path:nth-child(4) {
  stroke-dasharray: 124.41596984863281px;
  stroke-dashoffset: 124.41596984863281px;
 animation: line-anim 3s ease forwards 0.5s;
}

.titleBottom path:nth-child(5) {
  stroke-dasharray: 125.23075103759766px;
  stroke-dashoffset: 125.23075103759766px;
 animation: line-anim 3s ease forwards 0.7s;
}

.titleBottom path:nth-child(6) {
  stroke-dasharray: 273.41131591796875px;
  stroke-dashoffset: 273.41131591796875px;
 animation: line-anim 3s ease forwards 0.3s;
}

.titleBottom path:nth-child(7) {
  stroke-dasharray: 158.73257446289062px;
  stroke-dashoffset: 158.73257446289062px;
 animation: line-anim 3s ease forwards 1s;
}

.titleBottom path:nth-child(8) {
  stroke-dasharray: 203.67355346679688px;
  stroke-dashoffset: 203.67355346679688px;
 animation: line-anim 3s ease forwards 1s;
}

.titleBottom path:nth-child(9) {
  stroke-dasharray: 124.41590881347656px;
  stroke-dashoffset: 124.41590881347656px;
 animation: line-anim 3s ease forwards 0.2s;
}

.titleBottom path:nth-child(10) {
  stroke-dasharray: 49.90680694580078px;
  stroke-dashoffset: 49.90680694580078px;
 animation: line-anim 3s ease forwards 0.7s;
}

.titleBottom path:nth-child(11) {
  stroke-dasharray: 281.09722900390625px;
  stroke-dashoffset: 281.09722900390625px;
 animation: line-anim 3s ease forwards 1.2s;
}
.titleTopSmall path:nth-child(1) {
  stroke-dasharray: 131.00929260253906px;
  stroke-dashoffset: 131.00929260253906px;
  animation: line-anim 3s ease forwards 0.2s;
}

.titleTopSmall path:nth-child(2) {
  stroke-dasharray: 160.00518798828125px;
  stroke-dashoffset: 160.00518798828125px;
  animation: line-anim 3s ease forwards 0.4s;
}

.titleTopSmall path:nth-child(3) {
  stroke-dasharray: 128.71449279785156px;
  stroke-dashoffset: 128.71449279785156px;
  animation: line-anim 3s ease forwards 0.6s;
}

.titleTopSmall path:nth-child(4) {
  stroke-dasharray: 82.94399261474609px;
  stroke-dashoffset: 82.94399261474609px;
  animation: line-anim 3s ease forwards 0.8s;
}

.titleTopSmall path:nth-child(5) {
  stroke-dasharray: 89.46042633056641px;
  stroke-dashoffset: 89.46042633056641px;
  animation: line-anim 3s ease forwards 1s;
}

.titleTopSmall path:nth-child(6) {
  stroke-dasharray: 155.84631347656250px;
  stroke-dashoffset: 155.84631347656250px;
  animation: line-anim 3s ease forwards 1.2s;
}

.titleTopSmall path:nth-child(7) {
  stroke-dasharray: 182.27418518066406px;
  stroke-dashoffset: 182.27418518066406px;
  animation: line-anim 3s ease forwards 1.4s;
}

.titleTopSmall path:nth-child(8) {
  stroke-dasharray: 188.68072509765625px;
  stroke-dashoffset: 188.68072509765625px;
  animation: line-anim 3s ease forwards 1.6s;
}
.titleMidSmall path:nth-child(1) {
  stroke-dasharray: 128.71456909179688px;
  stroke-dashoffset: 128.71456909179688px;
  animation: line-anim 3s ease forwards 0.2s;
}

.titleMidSmall path:nth-child(2) {
  stroke-dasharray: 160.00520324707031px;
  stroke-dashoffset: 160.00520324707031px;
  animation: line-anim 3s ease forwards 0.4s;
}

.titleMidSmall path:nth-child(3) {
  stroke-dasharray: 112.91226196289062px;
  stroke-dashoffset: 112.91226196289062px;
  animation: line-anim 3s ease forwards 0.6s;
}

.titleMidSmall path:nth-child(4) {
  stroke-dasharray: 193.70265197753906px;
  stroke-dashoffset: 193.70265197753906px;
  animation: line-anim 3s ease forwards 0.8s;
}

.titleMidSmall path:nth-child(5) {
  stroke-dasharray: 188.68002319335938px;
  stroke-dashoffset: 188.68002319335938px;
  animation: line-anim 3s ease forwards 1s;
}

.titleMidSmall path:nth-child(6) {
  stroke-dasharray: 128.71441650390625px;
  stroke-dashoffset: 128.71441650390625px;
  animation: line-anim 3s ease forwards 1.2s;
}

.titleMidSmall path:nth-child(7) {
  stroke-dasharray: 132.31263732910156px;
  stroke-dashoffset: 132.31263732910156px;
  animation: line-anim 3s ease forwards 1.4s;
}

.titleMidSmall path:nth-child(8) {
  stroke-dasharray: 148.46945190429688px;
  stroke-dashoffset: 148.46945190429688px;
  animation: line-anim 3s ease forwards 1.6s;
}
.titleBottomSmall path:nth-child(1) {
  stroke-dasharray: 83.48719024658203px;
  stroke-dashoffset: 83.48719024658203px;
  animation: line-anim 3s ease forwards 0.2s;
}

.titleBottomSmall path:nth-child(2) {
  stroke-dasharray: 137.84294128417969px;
  stroke-dashoffset: 137.84294128417969px;
  animation: line-anim 3s ease forwards 0.4s;
}

.titleBottomSmall path:nth-child(3) {
  stroke-dasharray: 160.00524902343750px;
  stroke-dashoffset: 160.00524902343750px;
  animation: line-anim 3s ease forwards 0.6s;
}

.titleBottomSmall path:nth-child(4) {
  stroke-dasharray: 82.94399261474609px;
  stroke-dashoffset: 82.94399261474609px;
  animation: line-anim 3s ease forwards 0.8s;
}

.titleBottomSmall path:nth-child(5) {
  stroke-dasharray: 83.48717498779297px;
  stroke-dashoffset: 83.48717498779297px;
  animation: line-anim 3s ease forwards 1s;
}

.titleBottomSmall path:nth-child(6) {
  stroke-dasharray: 182.27442932128906px;
  stroke-dashoffset: 182.27442932128906px;
  animation: line-anim 3s ease forwards 1.2s;
}

.titleBottomSmall path:nth-child(7) {
  stroke-dasharray: 105.82174682617188px;
  stroke-dashoffset: 105.82174682617188px;
  animation: line-anim 3s ease forwards 1.4s;
}

.titleBottomSmall path:nth-child(8) {
  stroke-dasharray: 135.78283691406250px;
  stroke-dashoffset: 135.78283691406250px;
  animation: line-anim 3s ease forwards 1.6s;
}

.titleBottomSmall path:nth-child(9) {
  stroke-dasharray: 82.94399261474609px;
  stroke-dashoffset: 82.94399261474609px;
  animation: line-anim 3s ease forwards 1.8s;
}

.titleBottomSmall path:nth-child(10) {
  stroke-dasharray: 33.27125930786133px;
  stroke-dashoffset: 33.27125930786133px;
  animation: line-anim 3s ease forwards 2s;
}

.titleBottomSmall path:nth-child(11) {
  stroke-dasharray: 187.39823913574219px;
  stroke-dashoffset: 187.39823913574219px;
  animation: line-anim 3s ease forwards 2.2s;
}


@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: rgba(21, 21, 21, 0.9); 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(200, 169, 126, 0.9);  
  border-radius: 20px; 
  border: 3px solid rgba(21, 21, 21, 1); 
}

::-webkit-scrollbar-thumb:hover { 
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(200, 169, 126, 0.9) rgba(21, 21, 21, 0.9);
}

.some-element-with-scroll {
  scrollbar-width: auto; 
  scrollbar-color: rgba(200, 169, 126, 0.9) rgba(21, 21, 21, 0.9);
}
@media only screen and (max-width: 480px) {
    ::-webkit-scrollbar {
  width: 6px; 
}
  }

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--prime);
  }  
}
#title {
  animation: fill 0.75s ease forwards 3.5s;
}