@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--prime: rgba(245, 239, 230, 1);
--dark-charcoal: rgba(42, 42, 42, 1);
--accent-1: rgba(200, 169, 126, 1);
--accent-2: rgba(139, 168, 136, 1);
--prime-2: rgba(255, 244, 212, 1);
--black: rgba(21, 21, 21, 1);
--accent-3: rgba(215, 126, 3, 1);
--accent-4: rgba(241, 186, 109, 1);
--titles-font-font-family: "Cormorant Garamond", Helvetica;
--titles-font-font-weight: 400;
--titles-font-font-size: 24px;
--titles-font-letter-spacing: 0px;
--titles-font-line-height: normal;
--titles-font-font-style: normal;
--body-fonts-font-family: "Poppins", Helvetica;
--body-fonts-font-weight: 400;
--body-fonts-font-size: 16px;
--body-fonts-letter-spacing: 0px;
--body-fonts-line-height: 139.9999976158142%;
--body-fonts-font-style: normal;
--h-1-font-family: "Cormorant Garamond", Helvetica;
--h-1-font-weight: 700;
--h-1-font-size: 72px;
--h-1-letter-spacing: 0px;
--h-1-line-height: normal;
--h-1-font-style: normal;
--variable-collection-dark: rgba(30, 30, 30, 1);
--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) ;

}
body{
    background-color: var(--black);
    padding: 0%;
    margin: 0%;
} 

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
/* .title-container {
    align-items: center;
    gap: 2rem;
    display: flex;
} */
.cta-button {
    display: inline-flex;
    gap: 1.75rem; 
    padding-left: 1.75rem;
    padding-right: 0;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: var(--dark-charcoal);
    border-radius: 390px;
    overflow: hidden;
    width: fit-content;
    border: var(--prime) 1px solid;
}
.cta-button1 {
    display: inline-flex;
    gap: 1.75rem; 
    padding-left: 1.75rem;
    padding-right: 0;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--dark-charcoal);
    border-radius: 390px;
    overflow: hidden;
    width: fit-content;
    border: var(--prime) 1px solid;
}

.cta-button > .text-wrapper {
  position: relative;

  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--prime);
  font-size: 24px;
  line-height: normal;
  padding-right: 0;
  min-width: fit-content;
}

.cta-button1 > .text-wrapper {
    position: relative;
  
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--prime);
    font-size: 24px;
    line-height: normal;
    padding-right: 0;
    min-width: fit-content;
  }


.para-text span:nth-of-type(1) {
color: rgba(245, 239, 230, 0.60);

}
.para-text span:nth-of-type(3) {
    font-weight: 500;
    }
.para-text{
line-height: 24px;
word-wrap: break-word;
font-size: 16px;
color: var(--prime);
font-weight: 300;
font-family: "Poppins";
}
#about h1 , #services h2, .content > h1 {
color: var(--prime);
font-size: 48px;
font-family: "Raleway";
font-weight: 700;
word-wrap: break-word
}
#services h2{
    width: 50%;
}
#services p, .content > p {
 color: var(--prime);
 font-size: 16px;
 font-family: "Poppins";
 font-weight: 400;
 line-height: 24px;
 text-wrap: wrap;
}
#services h3 {
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 600;
    color: var(--prime);
}
#services{
padding: var(--sectionPadding);
}
.services-flex{
display: flex;
align-items: center;
justify-content: space-between;
} 
.services-flex p {
    line-height: 24px;
    word-wrap: break-word;
    font-size: 16px;
    color: var(--prime);
    font-weight: 500;
    font-family: "Poppins";
    width: 50%;
}
.services-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    
}
.services-container .image-container-2:nth-child(2){
    height: 100%;
    object-fit: cover;
}
.services-container .image-container-2:nth-(2) img{
    height: 100%;
    object-fit: cover;
}
.services-container:first-child{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.sub-container1{
    display: flex;
    padding: 0%;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;

}
.grid-container{
    width: 50%;
    display: grid;
    /* Temporary fix just like how people deal with their life problems */
    grid-template-columns: 1fr 1fr 1fr;
/*     grid-template-columns: repeat(auto-fit,1fr) ; */
    column-gap: 1rem;
}
.sub-grid-1 {
    grid-column-start: 1;
    grid-column-end: 3 ;
}
.image-container-2:nth-of-type(1) {
    /* width: fit-content; */
    height: 80%;
    object-fit: cover;
    

}
.sub-container1 p {
max-width: 460px;
}
.image-container-2:nth-last-of-type(){
    object-fit: cover;
    height: 100%;
}
.image-container-2 img {

    width: 100%;
    height: 100%;
    object-fit: none;
}
.image-container {
    /* this is temporary */
    width: 100%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: 100%;
}
.cta-big {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row ;
    
    
}
.cta-text{
    color: var(--prime);
 font-size: 8vw;
 font-family: "Raleway";
 font-weight: 800;
 text-wrap: nowrap;
 text-decoration: none;
}
.cta-img {
    width: 100%;
    height: 20vw;
    background-color: aliceblue;
    border-radius: 25px;
    background: url('assets/fbceade213ce01a96421fd40bdc3fc96.webp');
    background-position: 50% 50%;
    background-size: cover;
}
#cta {
    display: flex;
    flex-direction: column;
    padding: var(--sectionPadding);
    align-items: center;
}
.svg {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: flex;
    padding-left: 2vw;
}
.path {
    stroke: #F5EFE6;
    stroke-width: 0.9vw;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#socials {
    position: relative;
    width: 100%;
    height: 50vh; /* Adjust as needed */
    overflow: hidden;
  }
  
  .socials-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .cta-button {
    position: absolute;
    /* Your existing button styles */
  }
  
  @media (max-width: 768px) {
    #socials {
      height: auto;
      min-height: 100vh;
    }
    
    .cta-button {
      /* Adjust button styles for smaller screens if needed */
    }
  }
.hero-para {
    font-family: "Poppins-Light", Helvetica;
    font-weight: 400;
    color: var(--prime);
    font-size: 18px;
    line-height: 140%;
    word-wrap: wrap;
}
.title-container1 {
height: 4.5rem;
position: relative;
width: 100%;
display: flex;
align-items: center;
gap: 2rem;
padding: 0;
flex-wrap: nowrap;
flex-direction: row ;
}
.hero-img {
background-image: url('assets/ffd358a7a78bd13d7cbff7707e12fd1c .jpeg');
background-position: 50% 50%;
background-size: cover;
background-repeat: no-repeat;
border-radius: 50px ;
height: 64px;
left: 0;
width: 100%;

}
.hero-img-1{

}
.hero-img-2{
}
.hero-img-3{

}
.hero-text{
    font-size: 64px;
    color: var(--prime);
    font-family: "Raleway";
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}/* 
.title-container h1 {
    font-size: 64px;
    color: var(--prime);
    font-family: "Raleway";
    word-wrap: none;


} */
#hero {
   padding: var(--sectionPadding);
   align-self: stretch;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   max-width: 100%;
   justify-content: space-between;
   gap: 2rem;
   flex-wrap: wrap;
    
    
} 

#hero .container:first-of-type {
display: flex;
flex-direction: column;
justify-content: space-between;
height: clamp(25rem, 80vw, 47rem);
width: 60%;
}
.container > div:last-child {
    display: flex;
    gap: 5rem;
    flex-direction: column;
}
#hero .container:last-of-type {
    width: 30%;
    height: clamp(25rem, 60vw, 47rem);
    display: block;
    position: relative;
}
.container img {
   position: absolute;
   top: 0;
   left: 0;
   height: 80%;
   width: 100%;
   object-fit: cover;
}
.sub-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Add some space between the two columns */
    padding: var(--sectionPadding);
}

#about > div {
    width: 50%; /* Make each div take up half the width */
}

#about h1 {
    margin-top: 0; /* Remove top margin from the heading */
}
/* 
#folio{
    padding: var(--sectionPadding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#folio > .content{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
     max-width: 50%;

}
#folio > .content >p{
    max-width: 80%;
    text-wrap: wrap;
    line-height: var(--body-fonts-line-height);
    font-size: var(--body-fonts-font-family);
}
.Slidey {
    width: 100vw;
    height: 40dvh;
    height: 40vh;
    background-color: #F5EFE6;

}

*/ 
#folio {
    padding-left: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    padding-top: var(--sectionPadding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

#folio > .content {
    max-width: 40%;
}

/* #folio h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
 */
/* #folio > .content > p {
    margin-bottom: 2rem;
    line-height: 1.5;
}
 */
.slider {
    width: 55%;
    display: flex;
    gap: 20px;
}
.slick-slide {
    margin: 0 1rem; /* This creates space between slides */
}
.slider img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
} /* .cta-button {
    display: inline-flex;
    gap: 1.75rem;
    padding-left: 1.75rem;
    padding-right: 0;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--dark-charcoal);
    border-radius: 390px;
    overflow: hidden;
    width: fit-content;
    border: var(--prime) 1px solid;
}

.cta-button > .text-wrapper {
    position: relative;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--prime);
    font-size: 24px;
    line-height: normal;
    padding-right: 0;
    min-width: fit-content;
} */

/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-108 {
        /* 40px - 100px top and bottom */
        padding: clamp(2.5rem, 7.9vw, 6.25rem) 1rem;
        /* 40px - 50px */
        padding-bottom: clamp(2.5rem, 7.9vw, 3.125rem);
    }
    #cs-footer-108 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
    }
    #cs-footer-108 .cs-ul {
        /* 40px - 60px*/
        padding: 0 0 clamp(2.5rem, 4.7vw, 3.75rem);
        margin: auto;
        border-bottom: 1px solid #eff0f6;
    }
    #cs-footer-108 .cs-li {
        list-style: none;
        text-align: center;
        margin-bottom: 1.25rem;
    }
    #cs-footer-108 .cs-li:last-of-type {
        margin-bottom: 0;
    }
    #cs-footer-108 .cs-link {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.55vw, 1.25rem);
        line-height: 1.5em;
        text-decoration: none;
        font-weight: 400;
        color: var(--prime);
        font-family: "Poppins";
        position: relative;
    }
    #cs-footer-108 .cs-link:hover:before {
        width: 100%;
    }
    #cs-footer-108 .cs-link:hover{
        transform: scale(1.5);
        text-decoration: underline;

    }
    #cs-footer-108 .cs-link:before {
        /* top right box */
        content: "";
        width: 0%;
        height: 0.1875rem;
        background: var(--bodyTextColor);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #cs-footer-108 .cs-copyright {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.6vw, 1rem);
        text-align: center;
        color: #a0a3bd;
        display: block;
        /* 20px - 28px */
        margin: clamp(1.25rem, 2.8vw, 1.75rem) auto 0;
    }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #cs-footer-108 .cs-ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cs-footer-108 .cs-li {
        /* 44px - 88px */
        margin: 0 clamp(2.75rem, 6.2vw, 5.5rem) 0 0;
    }
    #cs-footer-108 .cs-li:last-of-type {
        margin: 0;
    }
}
nav > ul > li  {
  
}
/* tryin the grid display in nav */
/* 
nav {
    display: grid;
    
} */
header {
    padding: 0 var(--sectionPadding);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav h1 {
    color: var(--prime);
    
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    
    padding: 0;
}

nav ul li {

    margin: 0 var(--sectionPadding);
    color: var(--prime);
    font-family: "Poppins";
    font-size: 16px;
}
#Portfolio {
    margin-right: 0;
}
#Serv {
    margin-left: 0;
}
nav a {
    text-decoration: none;
    color: var(--prime);
    display: flex;

}
nav ul>li>a.active {
    color: var(--accent-1);
}
                             
nav a span:nth-of-type(1){
    font-family: var(--titles-font-font-family);
    font-size: 48px;
    color: var(--accent-1);
    font-weight: 700;

}
nav a span:nth-of-type(2){
    font-size: 48px;
    font-family: "Cormorant Garamond";
    font-weight: 500;
}

.cta-button > div > a {
    text-decoration: none;
    color: var(--prime);
}